atomicwrites==1.2.1
attrs==18.2.0
cycler==0.10.0
decorator==4.2.1
dj-database-url==0.5.0
Django==2.0.4
django-crispy-forms==1.7.2
django-debug-toolbar==1.11.1
glob2==0.6
gunicorn==19.9.0
humanize==0.5.1
kiwisolver==1.0.1
markdown2==2.3.5
matplotlib==2.2.2
more-itertools==4.3.0
networkx==2.1
numpy==1.14.2
pathlib2==2.3.2
peewee==3.2.3
Pillow==5.0.0

pluggy==0.7.1
psycopg2-binary==2.8.2
py==1.6.0
pyparsing==2.2.0
pytest==3.8.0
python-dateutil==2.7.0
pytz==2018.3
PyWavelets==0.5.2
schedule==0.5.0
scikit-image==0.13.1
scipy==1.0.0
six==1.11.0
sqlparse==0.2.4
whitenoise==3.3.1
